body {
    background-color: #a0d2eb;
    text-align: center;
    color: navy ;
    font-family:url(../../../Downloads/mononoki.zip); 
    font-size:medium;
        
    
}

p {
    font-size: 18px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}





button {
    border-radius: 10px;
        padding: 10px 20px;
        border: none;
        background-color: rgb(2, 2, 82);
        color: white;
        cursor: pointer;
}

#heading {
    text-align: center;
    font-size: 50px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px
}

#trombone-img {
    width: 700px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;   
    border-radius: 20px; 
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: large;
    color: navy;
}

.circle-logo {
    border-radius: 50%;
  text-align: left;
};

.logo-dropdown {
    position: relative;
    display: inline-block;
  }
  
  #logo-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    font-weight: 500;
    margin: 20px 0;

  }
